/*
    === MAIN CSS ===
    Este arquivo de estilo contém as variáveis e definições globais.
*/

/* Importação da fonte Ubuntu (300, 400, 500 e 700) */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

/* Variáveis globais */
:root {
    --primary: #02708D;
    --secondary: #00405C;
    --dark: #011425;
    --complementary: #F46E03;
    --additional: #FC902D;
}

/* Definições globais */
* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 100%;
    box-sizing: border-box;
}

/* Definições de listas não ordenadas */
ul, li {
    list-style: none;
}

/* Definições de links */
a {
    text-decoration: none;
    color: initial;
    cursor: pointer;
}

body {
    padding: 0 10%;
}