/*
    === TEMPLATE CSS ===
    Este arquivo de estilo contém os estilos de template do site
*/

/* Cabeçalho da página - Header */
header {
    width: 100%;
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
}

/* Navegação do site */
header > nav {
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;
    color: rgba(0, 0, 0, 0.5);
}

header > nav > ul {
    display: flex;
    margin-right: 50px;
}

header > nav > ul > li {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-right: 20px; */
    padding: 0px 20px;
}

header > nav > .btn-login {
    padding: 2% 20px;
    background: var(--complementary);
    border-radius: 25%;
}